.menu_openContainer{
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  width: 100%;
  background: rgba(208,220,222, 0.85);
}

.menu_x {
  float: right;
  margin: 70px 100px;
  background: url('/svg/x.svg') no-repeat center;
  background-size: cover;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.menu {
  height: 230px;
  text-align: right;
  margin: calc((100vh - 230px)/2) 0 0 0;
  a h3 {
    margin: 25px 40px 25px 0;
    padding-right: 40px;
    &:hover {
      color: #777;
    }
  }
}

.menu_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 50px 0 50px 50px;
}

.menu_logoFull {
  @include logo;
}

.menu_contact {
  h3 {
    margin: 10px 0;
  }
  a h3:hover {
    color: #777;
  }
}

.menu_socials {
  @include socials;
}

.menu_selected {
  h3 {
    border-right: 2px solid black;
    color: black;
  }
}

.menu_closedContainer {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
  bottom: 0;
  width: 96px;
  background: rgba(255, 255, 255, 0.35);
}

.menu_logo {
  background: url('/svg/mini-logo.svg') no-repeat center;
  height: 40px;
  width: 40px;
  margin: 28px;
}

.menu_hamburger {
  background: url('/svg/hamburger.svg') no-repeat center;
  background-size: cover;
  height: 20px;
  width: 25px;
  position: fixed;
  left: 35px;
  margin-top: calc(100vh / 2 - 100px);
  cursor: pointer;
}