.menu_fullColumns {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  background: rgba(208,220,222, 0.85);
}

.menu_x {
  float: right;
  margin: 70px 100px;
  background: url('./assets/x-15.svg') no-repeat center;
  background-size: cover;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.menu {
  height: 230px;
  text-align: right;
  margin: calc((100vh - 230px)/2) 0 0 0;
  a h3 {
    margin: 25px 40px 25px 0;
    padding-right: 40px;
    &:hover {
      color: #777;
    }
  }
}

.menu_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.menu_logo {
  // @include logo;
  background: url('./assets/mini-logo.svg') no-repeat center;
  height: 40px;
  width: 40px;
  margin: 28px;
}

.menu_closedContainer {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
}

.menu_contact {
  margin-left: 50px;
  h3 {
    margin: 10px 0;
  }
  a h3:hover {
    color: #777;
  }
}

.menu_socials {
  margin: 0 0 50px 45px;
  display: flex; 
  .menu_insta {
    background: url('./assets/social-insta-14.svg') no-repeat center;
  }
  .menu_fb {
    background: url('./assets/social-fb-13.svg') no-repeat center;
  }
  div {
    background-size: cover;
    height: 50px;
    width:50px;
    margin: 5px;
  }
}

.menu_selected {
  h3 {
    border-right: 2px solid black;
    color: black;
  }
}

.menu_hamburger {
  background: url('./assets/hamburger-16.svg') no-repeat center;
  background-size: cover;
  height: 20px;
  width: 25px;
  position: fixed;
  left: 35px;
  margin-top: calc(100vh / 2 - 100px);
  cursor: pointer;
}