.home_splash {
  width: 100vw;
  height: 100vh;
  // background: url('./assets/images/oceans/jamaica-1.jpg') no-repeat center;
  // background-size: cover;
  
  // margin-bottom: 50px;
  display: flex;
}

.home_header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 45px 0 106px;
  width: 50%;
  div {
    width: 70px;
    border-bottom: $line;
    padding-top: 23px;
    margin-left: 1vw;
  }
  p {
    margin-left: -1.5vw;
  }
}

.home_galleriesContainer {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  // padding: 6vw 45px 6vw 96px;
  // height: calc(100vw - 141px);
  height: 100vh;
  width: 50vw;
}

.home_gallery {
  width: 50%;
  height: 50%;
  // margin: 1.5vw 0;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    height: 100%;
    width: 100%;
    div {
      width: 100%;
      height: 100%;
      background: linear-gradient(135deg, rgba(28, 30, 49, 0.3) 0%, rgba(28, 30, 49, 0.3) 100%);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 20px 10px;
      // padding: 30px;
      h2 {
        padding: 3px 0;
        color: #EFEFEF;
      }
      p {
        // background: rgba(255, 255, 255, 0.5);
        // padding: 8px 15px;
        // border-radius: 5em;
        color: #DDD;
        // display: inline-block;
      }
    }
  }
}

.home_oceans {
  background: url('./assets/images/oceans/cabo-2.jpg') no-repeat center;
  background-size: cover;
}

.home_mountains {
  background: url('./assets/images/mountains/outdoors-2.jpg') no-repeat center;
  background-size: cover;
}

.home_polaroids {
  background: url('./assets/images/oceans/jamaica-2.jpg') no-repeat center;
  background-size: cover;
}

.home_travel {
  background: url('./assets/images/oceans/jamaica-15.jpg') no-repeat center;
  background-size: cover;
}