@import url('https://fonts.googleapis.com/css?family=PT+Mono|PT+Serif:700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

@font-face {
  font-family: 'bold';
  src: url('./assets/fonts/TGL_0-1451Eng.ttf') format('truetype');
}

h1, h2 {
  // font-family: 'PT Serif', serif;;
  font-family: 'bold'; 
  font-weight: 200;
}

h1 {
  font-size: 45px;
  letter-spacing: 7px;
}

h3, h4, p {
  // font-family: 'PT Mono', monospace;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  transform: scale(.89, 1);
}

h2 {
  color: black;
  letter-spacing: 2px;
  padding: 3px;
  font-size: 30px;
}

h3 {
  letter-spacing: 2px;
  color: #333;
  font-size: 14px;
}