@import url('https://fonts.googleapis.com/css?family=PT+Mono|PT+Serif:700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

@font-face {
  font-family: 'bold';
  src: url('./utils/TGL_0-1451Eng.ttf') format('truetype');
}

h1, h2 {
  font-family: 'bold'; 
  font-weight: 200;
}

h1 {
  color: black;
  letter-spacing: 4px;
  padding: 10px 0.5vw;
  font-size: 36px;
}

h4, p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 18px;
  transform: scale(.89, 1);
}

h2 {
  letter-spacing: 2px;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  transform: scale(.89, 1);
  font-weight: 800;
}

h3 {
  letter-spacing: 2px;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  transform: scale(.89, 1);
}