.gallery_container {
  height: 90vh;
  margin: 5vh 0 0 96px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.gallery_image_container {
  height: calc(100% / 3 - 10px);
  margin: 5px;
  img {
    height: 100%;
    cursor: pointer;
  }
}

