.gallery_imageThirds {
  width:  100%;
  margin-bottom: 5px;
  img {
    width: 100%; 
    cursor: pointer;

  }
}

.gallery_imageFull {
  margin: 5px;
  height: calc(100% - 10px);
  img {
    height: 100%;
    cursor: pointer;
  }
}

.gallery_container_full {
  height: 100vh;
  padding: 43px 96px;
  display: flex;
  flex-direction: row;
}

.gallery_container_thirds {
  width: 100vw;
  padding: 43px 43px 43px 96px;
  column-count: 3;
  column-gap: 7.5px;
}

.hidden {
  display: none;
}
